In [1]:
import pandas as pd
import numpy as np

In [2]:
jibang_mae = pd.read_csv('지방자치단체_폐기물_처리시설_현황_매립시설_20201021141256.csv', encoding='cp949')
jibang_so = pd.read_csv('지방자치단체_폐기물_처리시설_현황_소각시설_20201026135957.csv', encoding='cp949')
jibang_gita = pd.read_csv('지방자치단체_폐기물_처리시설_현황_기타시설_20201024154018.csv', encoding='cp949')

In [3]:
# 연도별로 나누기
jibang_mae.iloc[0, :]

시도(1)                      시도(1)
2016                   매립지수 (개소)
2016.1              총매립지 면적 (m²)
2016.2               총매립 용량 (m³)
2016.3     기매립량(전년도 매립량 포함) (m³)
2016.4              잔여매립가능량 (m³)
2016.5                  매립량 (m³)
2016.6                   매립량 (톤)
2016.7                 설치비 (백만원)
2016.8                 설치비 (백만원)
2016.9                 설치비 (백만원)
2016.10                설치비 (백만원)
2016.11            연간유지관리비 (백만원)
2016.12             매립지 관리인원 (명)
2017                   매립지수 (개소)
2017.1              총매립지 면적 (m²)
2017.2               총매립 용량 (m³)
2017.3     기매립량(전년도 매립량 포함) (m³)
2017.4              잔여매립가능량 (m³)
2017.5                  매립량 (m³)
2017.6                   매립량 (톤)
2017.7                 설치비 (백만원)
2017.8                 설치비 (백만원)
2017.9                 설치비 (백만원)
2017.10                설치비 (백만원)
2017.11            연간유지관리비 (백만원)
2017.12             매립지 관리인원 (명)
2018                   매립지수 (개소)
2018.1              총매립지 면적 (m²)
2018.2               총매립 용량 (m³)
2018.3     기매립량(전년도 매립량 포함) (m³)
2018.4              잔여매립가능량 (m³)
2018.5                  매립량 (m³)
2018.6                   매립량 (톤)
2018.7                 설치비 (백만원)
2018.8                 설치비 (백만원)
2018.9                 설치비 (백만원)
2018.10                설치비 (백만원)
2018.11            연간유지관리비 (백만원)
2018.12             매립지 관리인원 (명)
Name: 0, dtype: object

In [4]:
jibang_mae_16 = jibang_mae.iloc[:, :14]
jibang_mae_17 = jibang_mae.iloc[:, 14:27]
jibang_mae_18 = jibang_mae.iloc[:, 27:]

jibang_mae_17 = pd.concat([jibang_mae['시도(1)'], jibang_mae_17], axis=1)
jibang_mae_18 = pd.concat([jibang_mae['시도(1)'], jibang_mae_18], axis=1)

jibang_mae_17.head(3)

,시도(1),2017,2017.1,2017.2,2017.3,2017.4,2017.5,2017.6,2017.7,2017.8,2017.9,2017.10,2017.11,2017.12
0,시도(1),매립지수 (개소),총매립지 면적 (m²),총매립 용량 (m³),기매립량(전년도 매립량 포함) (m³),잔여매립가능량 (m³),매립량 (m³),매립량 (톤),설치비 (백만원),설치비 (백만원),설치비 (백만원),설치비 (백만원),연간유지관리비 (백만원),매립지 관리인원 (명)
1,시도(1),소계,소계,소계,소계,소계,소계,소계,계,국비,지방비,기타,소계,소계
2,합 계,220,26960516,483414496,244543291,238871205,7477102,6681138,3652037,860006,2536178,255853,1478493,1388

In [5]:
jibang_mae_18.head(3)

,시도(1),2018,2018.1,2018.2,2018.3,2018.4,2018.5,2018.6,2018.7,2018.8,2018.9,2018.10,2018.11,2018.12
0,시도(1),매립지수 (개소),총매립지 면적 (m²),총매립 용량 (m³),기매립량(전년도 매립량 포함) (m³),잔여매립가능량 (m³),매립량 (m³),매립량 (톤),설치비 (백만원),설치비 (백만원),설치비 (백만원),설치비 (백만원),연간유지관리비 (백만원),매립지 관리인원 (명)
1,시도(1),소계,소계,소계,소계,소계,소계,소계,계,국비,지방비,기타,소계,소계
2,합 계,218,26744838,480221830,264581583,215640247,7638346,6433995,3840425,868164,2711415,260846,817033,1487

In [6]:
jibang_mae_16.columns = jibang_mae_16.iloc[0, :]
jibang_mae_17.columns = jibang_mae_17.iloc[0, :]
jibang_mae_18.columns = jibang_mae_18.iloc[0, :]

In [7]:
jibang_mae_16.drop([0, 1], axis=0, inplace=True)
jibang_mae_17.drop([0, 1], axis=0, inplace=True)
jibang_mae_18.drop([0, 1], axis=0, inplace=True)

jibang_mae_18.head(3)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,시도(1),매립지수 (개소),총매립지 면적 (m²),총매립 용량 (m³),기매립량(전년도 매립량 포함) (m³),잔여매립가능량 (m³),매립량 (m³),매립량 (톤),설치비 (백만원),설치비 (백만원),설치비 (백만원),설치비 (백만원),연간유지관리비 (백만원),매립지 관리인원 (명)
2,합 계,218,26744838,480221830,264581583,215640247,7638346,6433995,3840425,868164,2711415,260846,817033,1487
3,부산,1,747922,24494000,17968244,6525756,290483,302572,363802,88663,275139,0,4761,31
4,대구,1,853400,32378541,12615652,19762889,324168,301056,214894,19591,195303,0,7933,59

In [8]:
jibang_mae_16 = pd.concat([jibang_mae_16.iloc[:, :7],
                          jibang_mae_16.iloc[:, 11:]],
                         axis=1)
jibang_mae_16

,시도(1),매립지수 (개소),총매립지 면적 (m²),총매립 용량 (m³),기매립량(전년도 매립량 포함) (m³),잔여매립가능량 (m³),매립량 (m³),설치비 (백만원),연간유지관리비 (백만원),매립지 관리인원 (명)
2,합 계,221,26956988,482360247,237036883,245323364,7817031,264178,795170,1479
3,부산,1,747922,24494000,14672214,9821786,309617,0,7759,52
4,대구,1,853400,32378541,11990635,20387906,436789,0,6792,54
5,인천,5,15418818,289347381,132285924,157061457,3446589,0,332940,250
6,광주,1,337860,9480000,2487785,6992215,233278,0,3186,28
7,대전,1,695877,8762000,6387069,2374931,671467,0,6031,40
8,울산,2,360276,7064656,4596244,2468412,177772,71065,911,16
9,세종,2,27818,296592,33191,263401,5575,5500,106,3
10,경기,9,549698,8285336,3772772,4512564,111545,38315,4370,39
11,강원,24,1269640,18648568,12375561,6273007,450574,46808,374472,188
12,충북,13,451960,5674709,3947312,1727397,128864,18190,3524,135
13,충남,15,596480,7331385,4008242,3323143,101556,0,4049,57
14,전북,13,818063,8388934,6691130,1697804,263219,30226,3860,72
15,전남,62,1376203,18854288,10964697,7889591,444374,37103,15056,241
16,경북,35,1083071,16104007,7556732,8547275,399707,2406,16224,141
17,경남,27,2049254,23817908,12292146,11525762,467671,14565,12226,126
18,제주,10,320648,3431942,2975230,456712,168435,0,3664,37

In [9]:
jibang_mae_17 = pd.concat([jibang_mae_17.iloc[:, :7],
                          jibang_mae_17.iloc[:, 11:]],
                         axis=1)

jibang_mae_18 = pd.concat([jibang_mae_18.iloc[:, :7],
                          jibang_mae_18.iloc[:, 11:]],
                         axis=1)

In [10]:
jibang_mae_16.to_csv('지방자치단체_매립_2016.csv', encoding='utf-8', index=False)
jibang_mae_17.to_csv('지방자치단체_매립_2017.csv', encoding='utf-8', index=False)
jibang_mae_18.to_csv('지방자치단체_매립_2018.csv', encoding='utf-8', index=False)

----

In [31]:
jibang_so_16 = jibang_so.iloc[:, :18]
jibang_so_17 = jibang_so.iloc[:, 18:35]
jibang_so_18 = jibang_so.iloc[:, 35:]

jibang_so_17 = pd.concat([jibang_so['시도(1)'], jibang_so_17], axis=1)
jibang_so_18 = pd.concat([jibang_so['시도(1)'], jibang_so_18], axis=1)

In [32]:
jibang_so_16.head(3)

,시도(1),2016,2016.1,2016.2,2016.3,2016.4,2016.5,2016.6,2016.7,2016.8,2016.9,2016.10,2016.11,2016.12,2016.13,2016.14,2016.15,2016.16
0,시도(1),시설수 (개소),시설용량 (톤/일),1일평균가동시간 (시간),처리량 (톤),설치비 (백만원),설치비 (백만원),설치비 (백만원),설치비 (백만원),연간유지관리비 (백만원),관리인원 (명),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal)
1,시도(1),소계,소계,소계,소계,계,국비,지방비,기타,소계,소계,에너지발생량,외부공급,외부공급,외부공급,자체 사용,자체 사용,자체 사용
2,시도(1),소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,열공급,전력공급,소계,열사용,전력사용

In [33]:
jibang_so_17.head(3)

,시도(1),2017,2017.1,2017.2,2017.3,2017.4,2017.5,2017.6,2017.7,2017.8,2017.9,2017.10,2017.11,2017.12,2017.13,2017.14,2017.15,2017.16
0,시도(1),시설수 (개소),시설용량 (톤/일),1일평균가동시간 (시간),처리량 (톤),설치비 (백만원),설치비 (백만원),설치비 (백만원),설치비 (백만원),연간유지관리비 (백만원),관리인원 (명),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal)
1,시도(1),소계,소계,소계,소계,계,국비,지방비,기타,소계,소계,에너지발생량,외부공급,외부공급,외부공급,자체 사용,자체 사용,자체 사용
2,시도(1),소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,열공급,전력공급,소계,열사용,전력사용

In [34]:
jibang_so_18.head(3)

,시도(1),2018,2018.1,2018.2,2018.3,2018.4,2018.5,2018.6,2018.7,2018.8,...,2018.11,2018.12,2018.13,2018.14,2018.15,2018.16,2018.17,2018.18,2018.19,2018.20
0,시도(1),시설수 (개소),시설용량 (톤/일),1일평균가동시간 (시간),처리량 (톤),잔재물발생및처리현황 (톤),잔재물발생및처리현황 (톤),잔재물발생및처리현황 (톤),잔재물발생및처리현황 (톤),설치비 (백만원),...,설치비 (백만원),연간유지관리비 (백만원),관리인원 (명),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal)
1,시도(1),소계,소계,소계,소계,계,매립,소각,재활용,계,...,기타,소계,소계,에너지발생량,외부공급,외부공급,외부공급,자체 사용,자체 사용,자체 사용
2,시도(1),소계,소계,소계,소계,소계,소계,소계,소계,소계,...,소계,소계,소계,소계,소계,열공급,전력공급,소계,열사용,전력사용

In [35]:
jibang_so_16.columns = jibang_so_16.iloc[0, :]
jibang_so_17.columns = jibang_so_17.iloc[0, :]
jibang_so_18.columns = jibang_so_18.iloc[0, :]

In [36]:
jibang_so_16.head(3)

,시도(1),시설수 (개소),시설용량 (톤/일),1일평균가동시간 (시간),처리량 (톤),설치비 (백만원),설치비 (백만원),설치비 (백만원),설치비 (백만원),연간유지관리비 (백만원),관리인원 (명),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal)
0,시도(1),시설수 (개소),시설용량 (톤/일),1일평균가동시간 (시간),처리량 (톤),설치비 (백만원),설치비 (백만원),설치비 (백만원),설치비 (백만원),연간유지관리비 (백만원),관리인원 (명),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal)
1,시도(1),소계,소계,소계,소계,계,국비,지방비,기타,소계,소계,에너지발생량,외부공급,외부공급,외부공급,자체 사용,자체 사용,자체 사용
2,시도(1),소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,열공급,전력공급,소계,열사용,전력사용

In [37]:
jibang_so_16 = jibang_so_16.iloc[:, :12]
jibang_so_17 = jibang_so_17.iloc[:, :12]
jibang_so_18 = jibang_so_18.iloc[:, :16]

In [38]:
jibang_so_16.head(3)

,시도(1),시설수 (개소),시설용량 (톤/일),1일평균가동시간 (시간),처리량 (톤),설치비 (백만원),설치비 (백만원),설치비 (백만원),설치비 (백만원),연간유지관리비 (백만원),관리인원 (명),에너지이용실태 (Gcal)
0,시도(1),시설수 (개소),시설용량 (톤/일),1일평균가동시간 (시간),처리량 (톤),설치비 (백만원),설치비 (백만원),설치비 (백만원),설치비 (백만원),연간유지관리비 (백만원),관리인원 (명),에너지이용실태 (Gcal)
1,시도(1),소계,소계,소계,소계,계,국비,지방비,기타,소계,소계,에너지발생량
2,시도(1),소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계

In [39]:
jibang_so_17.head(3)

,시도(1),시설수 (개소),시설용량 (톤/일),1일평균가동시간 (시간),처리량 (톤),설치비 (백만원),설치비 (백만원),설치비 (백만원),설치비 (백만원),연간유지관리비 (백만원),관리인원 (명),에너지이용실태 (Gcal)
0,시도(1),시설수 (개소),시설용량 (톤/일),1일평균가동시간 (시간),처리량 (톤),설치비 (백만원),설치비 (백만원),설치비 (백만원),설치비 (백만원),연간유지관리비 (백만원),관리인원 (명),에너지이용실태 (Gcal)
1,시도(1),소계,소계,소계,소계,계,국비,지방비,기타,소계,소계,에너지발생량
2,시도(1),소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계

In [40]:
jibang_so_18.head(3)

,시도(1),시설수 (개소),시설용량 (톤/일),1일평균가동시간 (시간),처리량 (톤),잔재물발생및처리현황 (톤),잔재물발생및처리현황 (톤),잔재물발생및처리현황 (톤),잔재물발생및처리현황 (톤),설치비 (백만원),설치비 (백만원),설치비 (백만원),설치비 (백만원),연간유지관리비 (백만원),관리인원 (명),에너지이용실태 (Gcal)
0,시도(1),시설수 (개소),시설용량 (톤/일),1일평균가동시간 (시간),처리량 (톤),잔재물발생및처리현황 (톤),잔재물발생및처리현황 (톤),잔재물발생및처리현황 (톤),잔재물발생및처리현황 (톤),설치비 (백만원),설치비 (백만원),설치비 (백만원),설치비 (백만원),연간유지관리비 (백만원),관리인원 (명),에너지이용실태 (Gcal)
1,시도(1),소계,소계,소계,소계,계,매립,소각,재활용,계,국비,지방비,기타,소계,소계,에너지발생량
2,시도(1),소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계

In [41]:
jibang_so_16 = pd.concat([
    jibang_so_16.iloc[:, :6],
    jibang_so_16.iloc[:, 9:]
], axis=1)

jibang_so_16.head(3)

,시도(1),시설수 (개소),시설용량 (톤/일),1일평균가동시간 (시간),처리량 (톤),설치비 (백만원),연간유지관리비 (백만원),관리인원 (명),에너지이용실태 (Gcal)
0,시도(1),시설수 (개소),시설용량 (톤/일),1일평균가동시간 (시간),처리량 (톤),설치비 (백만원),연간유지관리비 (백만원),관리인원 (명),에너지이용실태 (Gcal)
1,시도(1),소계,소계,소계,소계,계,소계,소계,에너지발생량
2,시도(1),소계,소계,소계,소계,소계,소계,소계,소계

In [42]:
jibang_so_17 = pd.concat([
    jibang_so_17.iloc[:, :6],
    jibang_so_17.iloc[:, 9:]
], axis=1)

jibang_so_17.head(3)

,시도(1),시설수 (개소),시설용량 (톤/일),1일평균가동시간 (시간),처리량 (톤),설치비 (백만원),연간유지관리비 (백만원),관리인원 (명),에너지이용실태 (Gcal)
0,시도(1),시설수 (개소),시설용량 (톤/일),1일평균가동시간 (시간),처리량 (톤),설치비 (백만원),연간유지관리비 (백만원),관리인원 (명),에너지이용실태 (Gcal)
1,시도(1),소계,소계,소계,소계,계,소계,소계,에너지발생량
2,시도(1),소계,소계,소계,소계,소계,소계,소계,소계

In [43]:
jibang_so_18 = pd.concat([
    jibang_so_18.iloc[:, :6],
    jibang_so_18.iloc[:, 10:]
], axis=1)

jibang_so_18.head(3)

,시도(1),시설수 (개소),시설용량 (톤/일),1일평균가동시간 (시간),처리량 (톤),잔재물발생및처리현황 (톤),설치비 (백만원),설치비 (백만원),설치비 (백만원),연간유지관리비 (백만원),관리인원 (명),에너지이용실태 (Gcal)
0,시도(1),시설수 (개소),시설용량 (톤/일),1일평균가동시간 (시간),처리량 (톤),잔재물발생및처리현황 (톤),설치비 (백만원),설치비 (백만원),설치비 (백만원),연간유지관리비 (백만원),관리인원 (명),에너지이용실태 (Gcal)
1,시도(1),소계,소계,소계,소계,계,국비,지방비,기타,소계,소계,에너지발생량
2,시도(1),소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계

In [44]:
jibang_so_18 = jibang_so_18.iloc[:, [0, 1, 2, 3, 4, 6, 9, 10, 11]]
jibang_so_18.head(3)

,시도(1),시설수 (개소),시설용량 (톤/일),1일평균가동시간 (시간),처리량 (톤),설치비 (백만원),연간유지관리비 (백만원),관리인원 (명),에너지이용실태 (Gcal)
0,시도(1),시설수 (개소),시설용량 (톤/일),1일평균가동시간 (시간),처리량 (톤),설치비 (백만원),연간유지관리비 (백만원),관리인원 (명),에너지이용실태 (Gcal)
1,시도(1),소계,소계,소계,소계,국비,소계,소계,에너지발생량
2,시도(1),소계,소계,소계,소계,소계,소계,소계,소계

In [46]:
jibang_so_16.drop([0, 1], axis=0, inplace=True)
jibang_so_17.drop([0, 1], axis=0, inplace=True)
jibang_so_18.drop([0, 1], axis=0, inplace=True)

In [45]:
jibang_so_16.reset_index(drop=True, inplace=True)
jibang_so_17.reset_index(drop=True, inplace=True)
jibang_so_18.reset_index(drop=True, inplace=True)

In [47]:
jibang_so_16.to_csv('지방자치단체_소각_2016.csv', encoding='utf-8', index=False)
jibang_so_17.to_csv('지방자치단체_소각_2017.csv', encoding='utf-8', index=False)
jibang_so_18.to_csv('지방자치단체_소각_2018.csv', encoding='utf-8', index=False)

---

In [49]:
jibang_gita.head(3)

,시도(1),2016,2016.1,2016.2,2016.3,2016.4,2016.5,2016.6,2016.7,2016.8,...,2018.12,2018.13,2018.14,2018.15,2018.16,2018.17,2018.18,2018.19,2018.20,2018.21
0,시도(1),소재지 (개소),시설용량 (톤/일),1일평균 가동시간 (시간),시설수 (개소),처리량 (톤),설치비 (백만원),설치비 (백만원),설치비 (백만원),설치비 (백만원),...,설치비 (백만원),연간유지관리비 (백만원),발생가스 이용현황 (N㎥/년),발생가스 이용현황 (N㎥/년),발생가스 이용현황 (N㎥/년),발생가스 이용현황 (N㎥/년),발생가스 이용현황 (N㎥/년),발생가스 이용현황 (N㎥/년),발생가스 이용현황 (N㎥/년),발생가스 이용현황 (N㎥/년)
1,시도(1),소계,소계,소계,소계,소계,계,국비,지방비,기타,...,기타,소계,발생가스 포집량,발생가스 포집량,메탄가스(CH4) 활용량,메탄가스(CH4) 활용량,메탄가스(CH4) 활용량,메탄가스(CH4) 활용량,메탄가스(CH4) 활용량,메탄가스(CH4) 활용량
2,시도(1),소계,소계,소계,소계,소계,소계,소계,소계,소계,...,소계,소계,발생가스총포집량,발생가스 총 포집량 중 메탄가스량,에너지생산,에너지생산,에너지생산,에너지생산,에너지생산,에너지생산 외

In [50]:
jibang_gita.iloc[0, :]

시도(1)                 시도(1)
2016               소재지 (개소)
2016.1           시설용량 (톤/일)
2016.2       1일평균 가동시간 (시간)
2016.3             시설수 (개소)
2016.4              처리량 (톤)
2016.5            설치비 (백만원)
2016.6            설치비 (백만원)
2016.7            설치비 (백만원)
2016.8            설치비 (백만원)
2016.9        연간유지관리비 (백만원)
2016.10    발생가스 이용현황 (N㎥/년)
2016.11    발생가스 이용현황 (N㎥/년)
2016.12    발생가스 이용현황 (N㎥/년)
2016.13    발생가스 이용현황 (N㎥/년)
2016.14    발생가스 이용현황 (N㎥/년)
2016.15    발생가스 이용현황 (N㎥/년)
2016.16    발생가스 이용현황 (N㎥/년)
2016.17    발생가스 이용현황 (N㎥/년)
2017               소재지 (개소)
2017.1           시설용량 (톤/일)
2017.2       1일평균 가동시간 (시간)
2017.3             시설수 (개소)
2017.4              처리량 (톤)
2017.5            설치비 (백만원)
2017.6            설치비 (백만원)
2017.7            설치비 (백만원)
2017.8            설치비 (백만원)
2017.9        연간유지관리비 (백만원)
2017.10    발생가스 이용현황 (N㎥/년)
2017.11    발생가스 이용현황 (N㎥/년)
2017.12    발생가스 이용현황 (N㎥/년)
2017.13    발생가스 이용현황 (N㎥/년)
2017.14    발생가스 이용현황 (N㎥/년)
2017.15    발생가스 이용현황 (N㎥/년)
2017.16    발생가스 이용현황 (N㎥/년)
2017.17    발생가스 이용현황 (N㎥/년)
2018               소재지 (개소)
2018.1           시설용량 (톤/일)
2018.2       1일평균 가동시간 (시간)
2018.3             시설수 (개소)
2018.4              처리량 (톤)
2018.5       잔재물발생및처리현황 (톤)
2018.6       잔재물발생및처리현황 (톤)
2018.7       잔재물발생및처리현황 (톤)
2018.8       잔재물발생및처리현황 (톤)
2018.9            설치비 (백만원)
2018.10           설치비 (백만원)
2018.11           설치비 (백만원)
2018.12           설치비 (백만원)
2018.13       연간유지관리비 (백만원)
2018.14    발생가스 이용현황 (N㎥/년)
2018.15    발생가스 이용현황 (N㎥/년)
2018.16    발생가스 이용현황 (N㎥/년)
2018.17    발생가스 이용현황 (N㎥/년)
2018.18    발생가스 이용현황 (N㎥/년)
2018.19    발생가스 이용현황 (N㎥/년)
2018.20    발생가스 이용현황 (N㎥/년)
2018.21    발생가스 이용현황 (N㎥/년)
Name: 0, dtype: object

In [51]:
jibang_gita_16 = jibang_gita.iloc[:, :19]
jibang_gita_17 = jibang_gita.iloc[:, 19:37]
jibang_gita_18 = jibang_gita.iloc[:, 37:]

jibang_gita_17 = pd.concat([
    jibang_gita['시도(1)'], jibang_gita_17
], axis=1)

jibang_gita_18 = pd.concat([
    jibang_gita['시도(1)'], jibang_gita_18
], axis=1)

jibang_gita_18.head(3)

,시도(1),2018,2018.1,2018.2,2018.3,2018.4,2018.5,2018.6,2018.7,2018.8,...,2018.12,2018.13,2018.14,2018.15,2018.16,2018.17,2018.18,2018.19,2018.20,2018.21
0,시도(1),소재지 (개소),시설용량 (톤/일),1일평균 가동시간 (시간),시설수 (개소),처리량 (톤),잔재물발생및처리현황 (톤),잔재물발생및처리현황 (톤),잔재물발생및처리현황 (톤),잔재물발생및처리현황 (톤),...,설치비 (백만원),연간유지관리비 (백만원),발생가스 이용현황 (N㎥/년),발생가스 이용현황 (N㎥/년),발생가스 이용현황 (N㎥/년),발생가스 이용현황 (N㎥/년),발생가스 이용현황 (N㎥/년),발생가스 이용현황 (N㎥/년),발생가스 이용현황 (N㎥/년),발생가스 이용현황 (N㎥/년)
1,시도(1),소계,소계,소계,소계,소계,계,매립,소각,재활용,...,기타,소계,발생가스 포집량,발생가스 포집량,메탄가스(CH4) 활용량,메탄가스(CH4) 활용량,메탄가스(CH4) 활용량,메탄가스(CH4) 활용량,메탄가스(CH4) 활용량,메탄가스(CH4) 활용량
2,시도(1),소계,소계,소계,소계,소계,소계,소계,소계,소계,...,소계,소계,발생가스총포집량,발생가스 총 포집량 중 메탄가스량,에너지생산,에너지생산,에너지생산,에너지생산,에너지생산,에너지생산 외

In [52]:
jibang_gita_16 = jibang_gita_16.iloc[:, :12]
jibang_gita_16.head(3)

,시도(1),2016,2016.1,2016.2,2016.3,2016.4,2016.5,2016.6,2016.7,2016.8,2016.9,2016.10
0,시도(1),소재지 (개소),시설용량 (톤/일),1일평균 가동시간 (시간),시설수 (개소),처리량 (톤),설치비 (백만원),설치비 (백만원),설치비 (백만원),설치비 (백만원),연간유지관리비 (백만원),발생가스 이용현황 (N㎥/년)
1,시도(1),소계,소계,소계,소계,소계,계,국비,지방비,기타,소계,발생가스 포집량
2,시도(1),소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,발생가스총포집량

In [53]:
jibang_gita_17 = jibang_gita_17.iloc[:, :12]
jibang_gita_17.head(3)

,시도(1),2017,2017.1,2017.2,2017.3,2017.4,2017.5,2017.6,2017.7,2017.8,2017.9,2017.10
0,시도(1),소재지 (개소),시설용량 (톤/일),1일평균 가동시간 (시간),시설수 (개소),처리량 (톤),설치비 (백만원),설치비 (백만원),설치비 (백만원),설치비 (백만원),연간유지관리비 (백만원),발생가스 이용현황 (N㎥/년)
1,시도(1),소계,소계,소계,소계,소계,계,국비,지방비,기타,소계,발생가스 포집량
2,시도(1),소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,발생가스총포집량

In [54]:
jibang_gita_16 = pd.concat([
    jibang_gita_16.iloc[:, :7],
    jibang_gita_16.iloc[:, 10:]
], axis=1)

jibang_gita_16.head(3)

,시도(1),2016,2016.1,2016.2,2016.3,2016.4,2016.5,2016.9,2016.10
0,시도(1),소재지 (개소),시설용량 (톤/일),1일평균 가동시간 (시간),시설수 (개소),처리량 (톤),설치비 (백만원),연간유지관리비 (백만원),발생가스 이용현황 (N㎥/년)
1,시도(1),소계,소계,소계,소계,소계,계,소계,발생가스 포집량
2,시도(1),소계,소계,소계,소계,소계,소계,소계,발생가스총포집량

In [55]:
jibang_gita_17 = pd.concat([
    jibang_gita_17.iloc[:, :7],
    jibang_gita_17.iloc[:, 10:]
], axis=1)

jibang_gita_17.head(3)

,시도(1),2017,2017.1,2017.2,2017.3,2017.4,2017.5,2017.9,2017.10
0,시도(1),소재지 (개소),시설용량 (톤/일),1일평균 가동시간 (시간),시설수 (개소),처리량 (톤),설치비 (백만원),연간유지관리비 (백만원),발생가스 이용현황 (N㎥/년)
1,시도(1),소계,소계,소계,소계,소계,계,소계,발생가스 포집량
2,시도(1),소계,소계,소계,소계,소계,소계,소계,발생가스총포집량

In [56]:
jibang_gita_18 = jibang_gita_18.iloc[:, :16]
jibang_gita_18.head(3)

,시도(1),2018,2018.1,2018.2,2018.3,2018.4,2018.5,2018.6,2018.7,2018.8,2018.9,2018.10,2018.11,2018.12,2018.13,2018.14
0,시도(1),소재지 (개소),시설용량 (톤/일),1일평균 가동시간 (시간),시설수 (개소),처리량 (톤),잔재물발생및처리현황 (톤),잔재물발생및처리현황 (톤),잔재물발생및처리현황 (톤),잔재물발생및처리현황 (톤),설치비 (백만원),설치비 (백만원),설치비 (백만원),설치비 (백만원),연간유지관리비 (백만원),발생가스 이용현황 (N㎥/년)
1,시도(1),소계,소계,소계,소계,소계,계,매립,소각,재활용,계,국비,지방비,기타,소계,발생가스 포집량
2,시도(1),소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계,발생가스총포집량

In [57]:
jibang_gita_18 = pd.concat([
    jibang_gita_18.iloc[:, :6],
    jibang_gita_18.iloc[:, [12, 14, 15]]
], axis=1)

jibang_gita_18.head(3)

,시도(1),2018,2018.1,2018.2,2018.3,2018.4,2018.11,2018.13,2018.14
0,시도(1),소재지 (개소),시설용량 (톤/일),1일평균 가동시간 (시간),시설수 (개소),처리량 (톤),설치비 (백만원),연간유지관리비 (백만원),발생가스 이용현황 (N㎥/년)
1,시도(1),소계,소계,소계,소계,소계,지방비,소계,발생가스 포집량
2,시도(1),소계,소계,소계,소계,소계,소계,소계,발생가스총포집량

In [58]:
jibang_gita_16.columns = jibang_gita_16.iloc[0, :]
jibang_gita_17.columns = jibang_gita_17.iloc[0, :]
jibang_gita_18.columns = jibang_gita_18.iloc[0, :]

In [59]:
jibang_gita_16.drop([0, 1, 2], axis=0, inplace=True)
jibang_gita_17.drop([0, 1, 2], axis=0, inplace=True)
jibang_gita_18.drop([0, 1, 2], axis=0, inplace=True)

In [60]:
jibang_gita_16.head(3)

,시도(1),소재지 (개소),시설용량 (톤/일),1일평균 가동시간 (시간),시설수 (개소),처리량 (톤),설치비 (백만원),연간유지관리비 (백만원),발생가스 이용현황 (N㎥/년)
3,시도(1),소계,소계,소계,소계,소계,소계,소계,소계
4,합계,283,42410,9,729,5034978,2413003,12275556,49649079
5,서울,35,6769,11,78,1223916,301229,11540453,8829636

In [61]:
jibang_gita_17.head(3)

,시도(1),소재지 (개소),시설용량 (톤/일),1일평균 가동시간 (시간),시설수 (개소),처리량 (톤),설치비 (백만원),연간유지관리비 (백만원),발생가스 이용현황 (N㎥/년)
3,시도(1),소계,소계,소계,소계,소계,소계,소계,소계
4,합계,273,35444,9,659,5016956,2514844,363492,64608896
5,서울,34,6461,11,76,835146,293788,46050,8115990

In [62]:
jibang_gita_18.head(3)

,시도(1),소재지 (개소),시설용량 (톤/일),1일평균 가동시간 (시간),시설수 (개소),처리량 (톤),설치비 (백만원),연간유지관리비 (백만원),발생가스 이용현황 (N㎥/년)
3,시도(1),소계,소계,소계,소계,소계,소계,소계,소계
4,합계,293,37644,8,640,4666410,1401007,357747,76366489
5,서울,36,6617,9,77,911213,166676,28740,8680579

In [63]:
jibang_gita_16.to_csv('지방자치단체_기타_2016.csv', encoding='utf-8', index=False)
jibang_gita_17.to_csv('지방자치단체_기타_2017.csv', encoding='utf-8', index=False)
jibang_gita_18.to_csv('지방자치단체_기타_2018.csv', encoding='utf-8', index=False)