In [20]:
import pandas as pd
import numpy as np

In [21]:
data = pd.read_csv('전국_재활용센터_정보.csv')
data.head(3)

ValueError: max() arg is an empty sequence

,제공기관명,재활용센터명,재활용센터운영구분,소재지도로명주소,위도,경도
0,전라남도,순천시자원순환센터,직영,전라남도 순천시 주암면 동주로 2230-63,35.068095,127.248334
1,부산광역시,동래구 재활용센터,위탁,부산광역시 동래구 충렬대로202번길 33(수안동),35.201229,129.081916
1,부산광역시,동래구 재활용센터,위탁,부산광역시 동래구 충렬대로202번길 33(수안동),35.201229,129.081916
2,부산광역시,부산진구 재활용센터,위탁,부산광역시 부산진구 신천대로 155(부전동),35.155633,129.050741

In [14]:
# 선별이라는 단어가 들어가면 쓰레기 선별장으로 분류

data['재활용센터명'] = data['재활용센터명'].astype(str)
seon = data[data['재활용센터명'].str.contains('선별')]
recycle = data[data['재활용센터명'].str.contains('선별') == False]

In [15]:
seon.shape, recycle.shape, data.shape

((56, 6), (148, 6), (204, 6))

In [16]:
province_seon = seon['제공기관명'].value_counts().to_frame()
province_seon.reset_index(drop=False, inplace=True)
province_seon

..    ...    ...
    index  제공기관명
0   인천광역시     16
1    전라남도      7
2   광주광역시      6
3    경상북도      5
4    경상남도      5
5    전라북도      4
6     경기도      4
7     강원도      3
8   울산광역시      2
9   부산광역시      2
10   충청북도      1
1    전라남도      7
2   광주광역시      6
3    경상북도      5
4    경상남도      5
5    전라북도      4
6     경기도      4
7     강원도      3
8   울산광역시      2
9   부산광역시      2
10   충청북도      1
11   충청남도      1

[12 rows x 2 columns]

In [17]:
province_recycle = recycle['제공기관명'].value_counts().to_frame()
province_recycle.reset_index(drop=False, inplace=True)
province_recycle

..      ...    ...
      index  제공기관명
0     서울특별시     30
1     부산광역시     18
2   제주특별자치도     18
3       경기도     16
4       강원도     11
5      충청남도     10
6      충청북도      8
7      경상북도      8
8      전라남도      8
9      경상남도      7
10    인천광역시      5
11     전라북도      4
12    울산광역시      2
13    대구광역시      2
1     부산광역시     18
2   제주특별자치도     18
3       경기도     16
4       강원도     11
5      충청남도     10
6      충청북도      8
7      경상북도      8
8      전라남도      8
9      경상남도      7
10    인천광역시      5
11     전라북도      4
12    울산광역시      2
13    대구광역시      2
14    대전광역시      1

[15 rows x 2 columns]

In [18]:
province_seon.to_csv('전국_재활용선별장_map.csv', encoding='utf-8', index=False)
province_recycle.to_csv('전국_재활용센터_map.csv', encoding='utf-8', index=False)

----