In [2]:
import pandas as pd
import numpy as np

In [3]:
trash_1 = pd.read_csv('종합배출내역(일별)목록_2020년_01월.csv', encoding='cp949')
trash_3 = pd.read_csv('종합배출내역(일별)목록_2020년_03월.csv', encoding='cp949')
trash_6 = pd.read_csv('종합배출내역(일별)목록_2020년_06월.csv', encoding='cp949')
trash_7 = pd.read_csv('종합배출내역(일별)목록_2020년_07월.csv', encoding='cp949')
trash_8 = pd.read_csv('종합배출내역(일별)목록_2020년_08월.csv', encoding='cp949')

In [4]:
trash = pd.concat([trash_1, trash_3, trash_6, trash_7, trash_8], axis=0)
trash

,disyear,dismonth,disdate,disday,disquantity,disquantityrate,discount,discountrate
0,2020,1,1,4,2254315846,3.15,1176158,3.24
1,2020,1,2,5,2334297501,3.27,1165976,3.21
2,2020,1,3,6,2074468590,2.90,1054779,2.91
3,2020,1,4,7,2092143234,2.93,1079716,2.98
4,2020,1,5,1,2426679691,3.40,1290830,3.56
...,...,...,...,...,...,...,...,...
25,2020,6,26,6,2507741890,3.17,1501444,3.29
26,2020,6,27,7,2663938075,3.37,1542433,3.38
27,2020,6,28,1,3100317184,3.93,1798252,3.94
28,2020,6,29,2,2563909976,3.25,1407884,3.09
29,2020,6,30,3,2631293379,3.33,1537620,3.37

In [5]:
trash.to_csv('종합배출내역_2020_상반기.csv', encoding='utf-8', index=False)